# Question 1
How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.0.1

# Question 2
How to create a series from a numpy array?

In [8]:
dit = {'KKR':'Morgan','MI':'Rohit','KXIP':'Rahul','RR':'Steve','RCB':'Kohli','DC':'Iyyer','SRH':'Warner','CSK':'Dhoni'}
Captains = pd.Series(dit)
print(Captains)
print('type : ',type(Captains))

KKR     Morgan
MI       Rohit
KXIP     Rahul
RR       Steve
RCB      Kohli
DC       Iyyer
SRH     Warner
CSK      Dhoni
dtype: object
type :  <class 'pandas.core.series.Series'>

# Question 3
How to convert the index of a series into a column of a dataframe?

In [21]:
indices = dit.keys()
print("index of series: ",indices)
pd.DataFrame(indices, columns = ['series indices'])

index of series:  dict_keys(['KKR', 'MI', 'KXIP', 'RR', 'RCB', 'DC', 'SRH', 'CSK'])

  series indices
0            KKR
1             MI
2           KXIP
3             RR
4            RCB
5             DC
6            SRH
7            CSK

# Question 4
Write the code to list all the datasets available in seaborn library. Load the 'mpg' dataset

In [26]:
import seaborn as sns
names = sns.get_dataset_names()
print(names)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [28]:
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Question 5
Which country origin cars are a part of this dataset?

In [37]:
origins = mpg.origin.unique()
print("The cars belong to the origin: ",origins)

The cars belong to the origin:  ['usa' 'japan' 'europe']

# Question 6
Extract the part of the dataframe which contains cars belonging to 'usa'

In [47]:
mpg.loc[mpg.origin == 'usa',:]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10